:root {
    --color-black: #242424;
    --color-white: #ffffff;
    --color-grey: #d3d4dd;
    --color-grey-light: #f6f6f9;
    --color-grey-dark: #A9A8B0;
    --color-purple: #a73afd;
    --color-purple-light: #e4c3ff;
    --color-purple-red: #f44f44;
}