:root {
    --color-black: #242424;
    --color-white: #ffffff;
    --color-grey: #d3d4dd;
    --color-grey-light: #f6f6f9;
    --color-grey-light2: #E5E7EB;
    --color-grey-dark: #A9A8B0;
    --color-grey-dark2: #6B7280;
    --color-purple: #a73afd;
    --color-purple-light: #e4c3ff;
    --color-red: #f44f44;
    --color-red2: #f46558;
    --color-green: #059669;
    --color-background: linear-gradient(90deg,rgba(124, 58, 236, 1) 0%, rgba(234, 72, 154, 1) 100%);;
}