.footer {
    background-color: var(--color-white);

    p {
        width: 80%;
        margin: 10px auto;
        font-size: 10px;
        text-align: center;
        color: var(--color-grey);
    }
}