.product-size-on-date {
    margin-bottom: 0.8rem;

    .product-foreign-info {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 10px;

        .name-size {
            box-sizing: border-box;
            width: 40%;
            padding-right: 4px;
        }

        .orig-name-size {
            box-sizing: border-box;
            width: 60%;
            padding-right: 4px;
        }

        .price-total {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
        }

        .price-total-item {
            display: flex;
            width: 30%;
            &:nth-child(2){
                margin: 0 1.5%;
            }
        }
    }
}