.product-size-on-date {
    margin-bottom: 0.8rem;

    .product-foreign-info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 14px;
        padding-bottom: 14px;
        border-bottom: 1px solid var(--color-grey);

        .product-description {
            display: flex;
            flex-flow: column nowrap;
            width: 20%;
            margin-right: 20px;
            word-break: break-word;

            &:empty {
                display: none;
            }
        }

        .name-size {
            font-size: 0.9rem;
            color: var(--color-grey-dark2);
            padding-bottom: 5px;
        }

        .orig-name-size {
            font-size: 0.9rem;
            color: var(--color-grey-dark2);
        }

        .info {
            width: 100%;
            text-align: left;

            thead {

            }

            .date {
                th {
                    font-weight: 500;
                    border-bottom: 1px solid var(--color-grey-light);
                    text-align: center;
                    padding: 6px 5px 0;

                }
            }

            .sum {
                td {
                    text-align: center;
                    padding: 6px 5px 0;

                }
            }

            .emptySum {
                font-size: 0.8rem;
                color: var(--color-grey-dark2);
            }
        }

        .price-total {
            //width: 100%;
            //display: flex;
            //flex-flow: row nowrap;
            //gap: 0 30px;
            //border-top: 1px solid var(--color-grey-light);
            //margin-top: 10px;

        }
    }
}