.button {
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    position: relative;

    &.primary {
        color: var(--color-white);
        background-color: var(--color-purple);
        border-radius: 6px;
        height: 36px;
    }

    &.secondary {
        background: none;
        border: 1px solid var(--color-grey);
        border-radius: 6px;
        height: 36px;
        color: var(--color-grey-dark);

        &.red {
            color: var(--color-purple-red);
        }

        &.warning {
            background-color: var(--color-purple-red);
            color: var(--color-white);
            border-color: var(--color-purple-red);
        }

        &.purple {
            color: var(--color-purple);
        }
    }

    &.icon {
        font-size: 0;
    }

    &.icon-text {
        padding: 0;
    }
}
