$background-icon: url('../../assets/img/arrow.svg');

.product-list-item {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 6px;
    border: 1px solid var(--color-white);

    &.is-changed {
        border: 1px solid var(--color-purple-light);
    }

    &:hover {
        cursor: pointer;
    }

    &.is-hide-content {
        .price-list, .product-list-buttons {
            display: none;
        }

        .main-info {
            .icon {
                transform: rotate(0);
            }
        }
    }

    .main-info {
        display: flex;
        gap: 10px;
        flex-flow: row wrap;
        align-items: flex-start;

        .product-name {
            font-size: 1.3rem;
            font-weight: 400;
            width: 86%;
            margin: 0;
        }

        .icon {
            width: 10%;
            height: 20px;
            background: $background-icon center center no-repeat;
            background-size: 27px;
            transition: transform .1s ease-in-out;
            transform: rotate(180deg);
        }

        .article {
            font-size: 14px;
            color: var(--color-grey-dark);
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 0;
        }
    }

    .price-list {
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        margin-top: 20px;
    }

    .product-list-buttons {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        gap: 10px;
        margin-top: 10px;

        .button {
            width: 50%;

            &:not(.warning) {
                border: none;
                background-color: var(--color-grey-light);
            }
        }
    }
}