.product-list-item {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 6px;

    &:hover {
        cursor: pointer;
    }

    &.is-hide-content {
        .price-list, .product-list-buttons {
            display: none;
        }
    }

    .main-info {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;

        .product-name {
            font-size: 1.2rem;
            width: 68%;
        }

        .article {
            font-size: 1rem;
            width: 32%;
            text-align: right;
            color: var(--color-grey-dark);
            padding: 4px 22px 4px 4px;
        }
    }

    .price-list {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 0.8rem;

        &:empty {
            padding: 0;
        }
    }

    .product-list-buttons {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        gap: 10px;
        margin-top: 10px;

        .button {
            width: 50%;
            border: none;
            background-color: var(--color-grey-light);
        }
    }
}