$background-image: url('../../assets/img/arrow.svg');

.select-wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border: 1px solid var(--color-grey);
    border-radius: 6px;
    padding: 8px 12px;
    height: 36px;
    cursor: pointer;
    background: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .selected-value {
        font-size: 14px;
        flex: 1;
    }

    .icon {
        width: 16px;
        height: 16px;
        //background-color: var(--color-grey-dark);
        //mask: $background-image no-repeat center;
        //mask-size: contain;
        //-webkit-mask: $background-image no-repeat center;
        //-webkit-mask-size: contain;
        //transition: transform 0.3s ease;

        color: var(--color-grey-dark);
        background: $background-image center center no-repeat;
        background-size: 20px;
    }

    &.open .icon {
        transform: rotate(180deg);
    }

    .options-list {
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        right: 0;
        z-index: 10;
        background: white;
        border: 1px solid var(--color-grey);
        border-radius: 6px;
        padding: 0;
        margin: 0;
        list-style: none;

        .option {
            padding: 8px 12px;
            cursor: pointer;
            font-size: 14px;

            &:hover {
                background-color: var(--color-grey-light);
            }

            &.selected {
                background-color: var(--color-grey-lighter);

                color: var(--color-purple);
            }
        }
    }
}
