.product-form {
    position: sticky;
    top: 0;
    z-index: 1;

    .form {
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        padding: 10px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.01);

        background-color: var(--color-white);
    }

    .show-all-item {
        background-color: var(--color-grey-light);
        padding: 10px 50px 10px;
        text-align: right;
    }

    .input-wrapper {
        position: relative;

        .input {
            padding-right: 30px;
        }
    }

    .top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: start;
        gap: 2%;

        .input-wrapper {
            width: 74%;
        }

        .select-wrapper {
            width: 24%;
        }
    }

    label {
        font-size: 1.4rem;
        color: var(--color-grey-dark);
    }
}