$background-image: '../../assets/img/chart.svg';

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 30px 10px 20px;

    background: var(--color-background);

    .heading {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .logo {
            color: var(--color-white);
            position: relative;
            background-color: currentColor; // Цвет можно менять через `color`

            mask-image: url($background-image);
            -webkit-mask-image: url($background-image); // Для Safari

            mask-size: contain;
            -webkit-mask-size: contain;

            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;

            mask-position: center;
            -webkit-mask-position: center;
            width: 28px;
            height: 28px;
            margin-left: 10px;
        }

        h1 {
            color: var(--color-white);
            font-size: 1.9rem;
            font-weight: 500;
            margin: 0;
        }

    }

    .title {
        color: var(--color-white);
        font-size: 1rem;
        margin: 16px auto 4px;
        max-width: 230px;
        text-align: center;
    }
}